{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<p><font size="5">Register to EthicTest to add examination papers</font></p>
<form action="/accounts/register/" method="post">
    {% csrf_token %}
    {% for message in messages %}
    <font color="red">{{ message }} <br /></font><br />
    {% endfor %}
    <b>First Name:</b> <input type="text" name="first_name" placeholder="First Name" required ><br />
    <b>Last Name:</b> <input type="text" name="last_name" placeholder="Last Name" required ><br/>
    <b>Username:</b> <input type="text" name="username" placeholder="Username" required ><br />
    <b>Email:</b> <input type="email" name="email" placeholder="Email" required ><br />
    <b>Password:</b> <input type="password" name="password1" placeholder="Password" required ><br />
    <b>Password (Confirm):</b> <input type="password" name="password2" placeholder="Password (Confirm)" required ><br /><br />
    <input type="submit" class="button primary" value="Register">
    <input type="reset" class="button" value="Reset">
</form>
{% endblock %}