{% extends 'base.html' %}

{% block content %}
<h2>Change password</h2>
<p><font size="5">Verify yourself and change your password</font></p>
<form action="/accounts/reset-password-verify-email/" method="post">
    {% csrf_token %}
    {% for message in messages %}
    <font color="red">{{ message }} <br /></font><br />
    {% endfor %}
    <input type="email" name="email" placeholder="Email" required><br />
    <input type="submit" class="button icon solid fa-search" value="Verify">
</form>
{% endblock %}