{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>EthicTest</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="{% url 'home' %}">EthicTest</a></h1>
								<span>Restrict students from copying in exam</span>
							</div>  
							

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="right-sidebar.html">About</a></li>
									{% if user.is_authenticated %}
									<li><a href="{% url 'verify_email' %}">Change Password</a></li>
									<li><a href="{% url 'logout' %}">Log out</a></li>
									<li><b>Hi, {{ user.first_name}}</b></li>
									{% if user.is_superuser %}
									<li><a href="/admin" target="_blank">Admin</a></li>
									<li><a href="{% url 'verify_email' %}">Change Password</a></li>
									{% endif %}
									{% else %}
									<li><a href="{% url 'login' %}">Login</a></li>
									<li><a href="{% url 'register' %}">Register</a></li>
									<li><a href="{% url 'verify_email' %}">Forgot Password</a></li>
									{% endif %}
								</ul>
							</nav>

					</header>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2><b><font color="#FF0000" face="Bookman Old style"><i>Hola, </i></font> from EthicTest</b></h2>
								<!-- <p><i><font color="#64a300">Create</font> examination papers and <font color="#fc2200"><b>restrict
									 students</b></font> from malpracticing during the exam
								</i></p> -->
								<p><i><mark class="greenyellow"><b>Add</b></mark> examination papers and <mark class="greenyellow"><b>restrict
									students</b></mark> from malpracticing during the exam
							   </i></p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									{% if user.is_authenticated %}
									<li><a href="{% url 'view_paper' %}" class="button large icon solid fa-arrow-circle-right">Create Papers</a></li>
									<li><a href="" class="button large icon solid fa-arrow-circle-right">Your papers</a></li>
									{% else %}
									<br><br>
									<li><a href="" class="button large icon solid fa-arrow-circle-right">Join Test</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<p><i><b><center><font size="7">Add multiple choice and One word questions</font></center></b></i></p></p>
											</header>
										</div>
										<a href="#" class="image featured"><img src="{% static 'images/quiz.png' %}" alt="" /></a>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<div class="inner">
											<header>
												<p><i><b><center><font size="7">Restrict students from malpractices</font></center></b></i></p></p>
											</header>
										</div>
										<a href="#" class="image featured"><img src="{% static 'images/blur_image.jpg' %}" alt="" /></a>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<div class="inner">
											<header>
												<p><i><b><center><font size="7">Get instant results,& Log reports</center><font></center></b></i></p></p>
											</header>
											<a href="#" class="image featured"><img src="{% static 'images/feedback.png' %}" alt="" /></a>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>


		<!-- Scripts -->

			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}></script>

	</body>
</html>